<!-- footer start -->
<footer class="relative">
    <img
            class="absolute w-full h-full"
            src="{{ alias('@web') }}/images/bg-footer.png"
            alt=""
    />

    <div class="lg:container mx-auto px-4 relative py-10">
        <div class="grid xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 2xl:gap-24 gap-8">
            <div>
                {% set logo = footer.mainLogo.one() %}
                {% if logo %}
                <div class="sm:min-h-10">
                    <a href="{{ alias('@web') }}"><img src="{{ logo.url }}" alt="" class="sm:h-auto h-6" /></a>
                </div>
                {% endif %}
                <div>
                    <span class="inline-block h-1 w-24 bg-primary"></span>
                </div>
                <p class="font-openSans 2xl:text-xl xl:text-base sm:text-base text-sm text-white max-w-xs sm:mt-8 mt-4 sm:mb-12 mb-6" >
                   {{ footer.footerColumn1Text|nl2br }}
                </p>
                {% set ndisLogo = footer.ndisLogo.one() %}
                {% if ndisLogo %}
                <img src="{{ ndisLogo.url }}" alt="" />
                {% endif %}
            </div>
            <div>
                <h3 class="font-bold font-openSans sm:leading-[39px] leading-[26px] sm:text-3xl text-xxl text-white" >
                    {{ footer.contactHeading|nl2br }}
                </h3>
                <span class="inline-block h-1 w-[100px] bg-primary"></span>

                {% if footer.contactAddress %}
                <div class="flex items-start mt-6 gap-2">
                    <img class="mt-[0.5em] w-4" src="./images/pin.svg" alt="" />
                    <div class="flex-1">
                        <p class="2xl:text-xl xl:text-base sm:text-sm text-sm text-white">
                            {{ footer.contactAddress|nl2br }}
                        </p>
                    </div>
                </div>
                {% endif %}

                {% if footer.contactEmail %}
                <div class="flex items-start mt-6 gap-2">
                    <img class="mt-[0.5em] w-4" src="./images/email.svg" alt="" />

                    <div class="flex-1">
                        <a href="mailto:{{ footer.contactEmail }}" class="2xl:text-xl sm:text-base text-sm text-white">
                            {{ footer.contactEmail }}
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if footer.phoneNumberOfRequester %}
                <div class="flex items-start mt-6 gap-2">
                    <img class="mt-[0.5em] w-4" src="./images/phone.svg" alt="" />
                    <div class="">
                        <p class="2xl:text-xl sm:text-base text-sm text-white">
                            {{ footer.phoneNumberOfRequester|nl2br }}
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>

            <div>
                <h3 class="font-bold font-openSans sm:leading-[39px] leading-[26px] sm:text-3xl text-xxl text-white">
                    {{ footer.workForUsHeading|nl2br }}
                </h3>
                <span class="inline-block h-1 w-[100px] bg-primary"></span>
                {% if footer.workForUsText %}
                <p class="2xl:text-xl sm:text-base text-sm text-white sm:my-6 my-4">
                    {{ footer.workForUsText|nl2br }}
                </p>
                {% endif %}
                {% set column3list = [
                    footer.workForUsPointOne,
                    footer.workForUsPointTwo,
                    footer.workForUsPointThree,
                    footer.workForUsPointFour,
                ] %}
                <ul>
                    {% for single in column3list|filter(x => x is not empty) %}
                    <li class="flex items-center gap-3 my-2">
                        <i>
                            <img src="{{ alias('@web') }}/images/ok-white.svg" alt="" />
                        </i>
                        <p class="2xl:text-xl sm:text-base text-base text-white flex-1">
                            {{ single|nl2br }}
                        </p>
                    </li>
                    {% endfor %}
                    {% set applyEntry = footer.workForUsApplyEntry.one() %}
                    {% if applyEntry %}
                    <li class="mt-4">
                        <a href="{{ applyEntry.url }}" class="inline-flex items-center gap-3 underline text-[#D6D02F]">
                            <i>
                                <img src="{{ alias('@web') }}/images/chevrone-right.svg" alt="" />
                            </i>
                            <span>{{ footer.workForUsApplyText }}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div>
                <h3 class="font-bold font-openSans sm:leading-[39px] leading-[26px] sm:text-3xl text-xxl text-white">
                    {{ footer.subscribeHeading|nl2br }}
                </h3>
                <span class="inline-block h-[4px] w-[100px] bg-primary"></span>
                {% if footer.subscribeBlurb %}
                <p class="2xl:text-xl sm:text-base text-sm text-white sm:my-6 my-4">
                    {{ footer.subscribeBlurb|nl2br }}
                </p>
                {% endif %}


{#                <div class="flex gap-4">#}
{#                    <div class="flex-1">#}
{#                        <input#}
{#                                type="text"#}
{#                                class="w-full rounded-lg sm:h-14 h-10 px-4 py-2 2xl:text-xl sm:text-base text-sm ring-primary focus:ring-primary focus:outline-1 outline-primary"#}
{#                                placeholder="Email  Address"#}
{#                        />#}
{#                    </div>#}
{#                    <button#}
{#                            class="p-3 h-10 sm:h-14 aspect-square border border-muted rounded-lg transition-all hover:bg-primary shrink-0 flex justify-center items-center"#}
{#                    >#}
{#                        <img src="./images/email.svg" alt="" class="sm:h-6 h-4" />#}
{#                    </button>#}
{#                </div>#}
                {% set form = footer.formieForm.one() %}
                {% if form %}
                    {% set renderOptions = {
                        themeConfig: {
                            fieldInput: {
                                resetClass: true,
                                attributes: {
                                    class: 'w-full rounded-lg sm:h-14 h-10 px-4 py-2 2xl:text-xl sm:text-base text-sm ring-primary focus:ring-primary focus:outline-1 outline-primary',
                                },
                            },
                            submitButton: {
                                resetClass: false,
                                attributes: {
                                    class: '',
                                },
                            }
                        },
                    } %}
                    <div class="footer-form">
                    {{ craft.formie.renderForm(form, renderOptions) }}
                    </div>
                {% endif %}

                {% css %}
                .footer-form .fui-page{
                    display: flex;
                    gap: 1rem;
                }
                .footer-form .fui-field, .footer-form .fui-btn-wrapper{
                    padding-top: 0px;
                    margin-top: 0px;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }
                .footer-form .fui-submit{
                    background-color: transparent;
                    border-color: white;
                    font-size: 1rem;
                }
                {% endcss %}

                {% if footer.subscribePrivacyText %}
                <p class="2xl:text-xl sm:text-base text-sm text-white my-6">
                    {{ footer.subscribePrivacyText|nl2br }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->